/* Thanh mạng xã hội dọc */
.sidenav a > img {
    width: 40px;
    height: auto;
}
.sidenav a:hover{
    transform: scale(1.07);
}
.sidenav {
    height: auto;
    width: 40px;
    position: fixed;
    border: black 3px solid;
    border-radius: 20px;
    background-color: white;
    overflow-x: hidden;
    padding: 8px;
    margin: 0;
    left: 11px; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.sidenav a {
    padding-top: 3px;
    padding-bottom: 3px;
    display: block;
}
/* Nội dung chính của trang about */
.hero_about{
    width: 100%;
    padding-top: 5px;
}

.hero_about h1{
    text-align: center;

    font-size: 60px;
    font-weight: bold;

    color: #8BE071;

    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);

    margin-bottom: 20px;
}

.hero_about hr{
    border: none;
    height: 2px;
    width: 1200px;
    background-color: black;
}

.about_content{
    width: 85%;
    max-width: 1200px;

    margin: 50px auto;

    padding: 20px;
}

.about_content p{
    font-size: 22px;

    font-weight: 700;

    line-height: 1.6;

    margin-bottom: 35px;

    text-align: justify;
}
/* Responsive */
@media screen and (max-width: 850px){
    .hero_about h1{
        font-size: 40px;
    }

    .about_content{
        width: 95%;
    }

    .about_content p{
        font-size: 18px;
        margin-bottom: 25px;
    }

}
